azureplayground/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "azureplayground"
		},
		"FRAUDNEW_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'FRAUDNEW'"
		},
		"FraudTXNS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'FraudTXNS'"
		},
		"SnowflakeDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SnowflakeDB'"
		},
		"linkedService1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'linkedService1'"
		},
		"FRAUDNEW_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sasiazurestorage.dfs.core.windows.net/"
		},
		"FraudTXN_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'FraudTXN'"
		},
		"FraudTXNS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://snowflakesampledata2022.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Azure Snowflake Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Connect to Snowflake",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SnowflakeDB",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "use schema azurestage;\ncreate or replace TABLE CUSTOMER_TRANSACTIONS_FRAUD (\n\tTRANSACTION_ID NUMBER(38,0),\n\tTX_DATETIME TIMESTAMP_NTZ(9),\n\tCUSTOMER_ID NUMBER(38,0),\n\tTERMINAL_ID NUMBER(38,0),\n\tTX_AMOUNT FLOAT,\n\tTX_TIME_SECONDS NUMBER(38,0),\n\tTX_TIME_DAYS NUMBER(38,0),\n\tTX_FRAUD NUMBER(38,0),\n\tTX_FRAUD_SCENARIO NUMBER(38,0)\n);\nDROP TABLE FRAUD_TERMINALS;"
								}
							]
						}
					},
					{
						"name": "LOAD FROM ADLS",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Connect to Snowflake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SnowflakeDB",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "copy into CUSTOMER_TRANSACTIONS_FRAUD\n  from @my_azure_stage/fraud_transactions.csv\n  file_format = (format_name = 'my_csv_format' , error_on_column_count_mismatch=false)\n  on_error = 'skip_file';"
								}
							]
						}
					},
					{
						"name": "JAVA SNOWPARK AGGREGATE",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "LOAD FROM ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SnowflakeDB",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "CALL AGG_FRAUD('CUSTOMER_TRANSACTIONS_FRAUD');"
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SnowflakeDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FraudTXN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FraudTXN",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "fraud_transactions.csv",
						"container": "fraudtxn"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\r\n",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FraudTXN')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SSSnowflake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SnowflakeDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "TRANSACTION_ID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "TX_DATETIME",
						"type": "TIMESTAMP_NTZ",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "CUSTOMER_ID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "TERMINAL_ID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "TX_AMOUNT",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "TX_TIME_SECONDS",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "TX_TIME_DAYS",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "TX_FRAUD",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "TX_FRAUD_SCENARIO",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "AZURESTAGE",
					"table": "CUSTOMER_TRANSACTIONS_FRAUD"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SnowflakeDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FRAUDNEW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('FRAUDNEW_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('FRAUDNEW_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FraudTXN')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('FraudTXN_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FraudTXNS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('FraudTXNS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('FraudTXNS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"connectionString": "[parameters('SnowflakeDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('linkedService1_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}